@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Patua+One&display=swap');

body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0%;
    font-family: patua one;
    background-color: #dfe9f5;
}





/* Navigation Bar Top ========================================== */

.navbar-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #537FE7;
    border-bottom: solid 3px black;
    z-index: 1;
}

.navbar-top-temp{
    height: 55px;
    width: 100%;
    border-bottom: solid 3px black;
}

.but-burger{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    background-image: url(Assets/Burger\ button.png);
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-account{
    display: flex;
    justify-content: right;
    align-items: center;
    gap:10px;
    height: 40px;
    width: auto;
    margin-right: 30px;

    font-family: patua one;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* border: 2px solid black; */
}

.navbar-account:hover{
    color: #ADC6FF;
    transition-duration: 300ms;
}

.navbar-account img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.navbar-account div{
    /* color: white; */
    font-size: 1.3em;
    text-align: right;
    /* margin-right: 10px; */
}





/* Navigation Bar Left ============================================== */

.navbar-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #ADC6FF;
}

.navbar-logo{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100px;
}

.navbar-but-container{
    display: flex;
    margin-bottom: 13px;
    gap: 15px;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
    text-align: left;

    font-family: patua one;
    background-color: #ADC6FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar-img-container{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    height: 40px;
    width: 50px;
}

.navbar-icon{
    height: 30px;
}

.navbar-but-container:hover{
    background-color: #a4baeb;
    transition-duration: 300ms;
}

a{
    width: 100%;
    text-decoration: none;
}



/* Content ========================================= */

.content-container{
    display: flex;
    height: auto;
    width: 100%;
    /* margin-top: 57px; */
    /* background-color: red; */
}

.navbar-left-temp{
    width: 200px;
    min-width: 200px;
    height: auto;
    /* border: 5px solid black; */
}

.final-content-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 12%;
    margin-right: 12%;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    
    gap: 40px;
    min-width: 768px;
    /* border: 2px solid red; */
    /* background-color: yellow; */

}


/* MAIN CODE =================================================== */

    .title-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: auto;
        width: 100% ;
        /* border: 2px solid black; */
        /* border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25); */
    }

    .content-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        margin-left: 20px;
        /* margin-right: 20px; */

        /* border: 2px solid black; */
    }

    .page-title{
        font-size: 2.7em;
        margin-left: 0px;
        /* border: 2px solid black; */
    }




    /* MAIN CONTENT =============================================== */

    /* Top Information ==================================== */

    .top-info-container{
        display: flex;
        justify-content: space-between;
        
        height: auto;
        width: 100%;

        /* border: 2px solid black; */
    }

   
    /* Net Outflow Information ================= */

    .outflow-container{
        height: auto;
        width: 37%;
    }

    .blue-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        width: 100%;
        border-radius: 25px;
        background-color: #537FE7;
    }

    .blue-container img{
        height: 40px;
        margin-left: 10px;
    }

    .blue-val{
        color: white;
        font-size: 1.4em;
        text-align: right;
        height: auto;
        width: 290px;
        margin-right: 15px;
        /* border: 2px solid white; */
    }

    .info-sum-container{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 70%;
        width: 290px;
        margin-right: 15px;
        color: white;

        /* border:2px solid yellow; */
    }

    .info-sum-title{
        height: auto;
        width: 100%;
        font-size: 1em;
        text-align: right;
        /* border: 2px solid white; */
    }

    .info-sum-val{
        height: auto;
        width: 100%;
        font-size: 1.3em;
        text-align: right;
    }

    #info-sum-outflow{
        color: #FFADAD;
    }


    /* Target Information ================================== */

    .target-info-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 250px;

        /* border: 2px solid black; */
    }

    .target-info-title{
        height: auto;
        width: 100%;
        text-align: center;
        font-size: 1em;
    }

    .target-info-val{
        color: #537FE7;
        height: auto;
        width: 100%;
        text-align: center;

        font-size: 1.7em;
    }

    /* Line Chart =============================================== */

    .line-container{
        height: 300px;
        width: 100%;

        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    }

    .content-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        margin-left: 20px;
        /* margin-right: 20px; */

        /* border: 2px solid black; */
    }

    .content-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        margin-left: 20px;
        /* margin-right: 20px; */

        /* border: 2px solid black; */
    }

    .bar-graph{
        margin-left: 20px;
        height: 250px;
        width: 95%;
        /* width: 100px; */
    }


    /* Bottom Part ================================================== */

    .bottom-container{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        height: auto;
        width: 100%;

        /* border: 2px solid black; */
    }

    /* Create Balancing Plan ===================================== */

    .createBP-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47%;
        height: 250px;
        gap: 10px;
        padding-bottom: 15px;

        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    }

    .bottom-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        text-align: center;
    }

    .createBP-input-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 90%;
        height: auto;
        color: white;

        border-radius: 10px;
        background-color: #537FE7;
    }

    .createBP-input-title{
        height: auto;
        width: 90%;
        text-align: left;
        font-size: 1em;
        margin-top: 10px;
    }

    .createBP-input-container input{
        height: 30px;
        width: 85%;
        margin-bottom: 15px;

        color: white;
        font-family: patua one;
        font-size: 1.2em;

        outline: none;
        border-radius: 5px;
        border: 3px solid white;
        background-color: #537FE7;
        padding-left: 10px;
        padding-right: 10px;
    }

    .createBP-input-container input:focus{
        border-color: #ADC6FF;
        transition-duration: 300ms;
    }

    .createBP-option-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 90%;
        height: auto;
    }

    .createBP-option{
        display: flex;
        align-items: center;
        gap: 10px;
        width: 100%;
        height: auto;

        font-size: 1em;
    }

    .createBP-container button{
        width: 45%;
        height: 40px;

        color: white;
        font-family: patua one; 
        font-size: 1.3em;
        background-color: #537FE7;
        border-radius: 25px;
        border: none;
        outline: none;
        cursor: pointer;
    }

    .createBP-container button:hover{
        background-color: #a4baeb;
        transition: 300ms;
    }


    /* Expense Summary ======================================== */

    .sum-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 47%;
        height: auto;
        gap: 10px;
        padding-bottom: 15px;

        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    }

    .sum-category{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        height: 55px;
        color: white;

        border-radius: 25px;
        background-color: #537FE7;
    }

    .sum-container img{
        height: 40px;
        margin-left: 10px;
    }

    .blue-val{
        color: white;
        font-size: 1.4em;
        text-align: right;
        height: auto;
        width: 290px;
        margin-right: 15px;
        /* border: 2px solid white; */
    }

    .sum-sum-container{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 70%;
        width: 70%;
        margin-right: 15px;
        color: white;

        /* border:2px solid yellow; */
    }

    .info-sum-title{
        height: auto;
        width: 100%;
        font-size: 1em;
        text-align: right;
        /* border: 2px solid white; */
    }

    .info-sum-sum-val{
        height: auto;
        width: 100%;
        font-size: 1.3em;
        text-align: right;
        color: #FFADAD;
    }