@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Patua+One&display=swap');

body{
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0%;
    font-family: patua one;
    background-color: #dfe9f5;
}





/* Navigation Bar Top ========================================== */

.navbar-top-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: #537FE7;
    border-bottom: solid 3px black;
    z-index: 1;
}

.navbar-top-temp{
    height: 55px;
    width: 100%;
    border-bottom: solid 3px black;
}

.but-burger{
    height: 30px;
    width: 30px;
    margin-left: 30px;
    background-image: url(Assets/Burger\ button.png);
    background-size: cover;
    border: none;
    outline: none;
    cursor: pointer;
}

.navbar-account{
    display: flex;
    justify-content: right;
    align-items: center;
    gap:10px;
    height: 40px;
    width: auto;
    margin-right: 30px;

    font-family: patua one;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    /* border: 2px solid black; */
}

.navbar-account:hover{
    color: #ADC6FF;
    transition-duration: 300ms;
}

.navbar-account img{
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.navbar-account div{
    /* color: white; */
    font-size: 1.3em;
    text-align: right;
    /* margin-right: 10px; */
}





/* Navigation Bar Left ============================================== */

.navbar-left-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 57px;
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #ADC6FF;
}

.navbar-logo{
    margin-top: 40px;
    margin-bottom: 40px;
    height: 100px;
}

.navbar-but-container{
    display: flex;
    margin-bottom: 13px;
    gap: 15px;
    align-items: center;
    width: 100%;
    font-size: 1.1em;
    text-align: left;

    font-family: patua one;
    background-color: #ADC6FF;
    outline: none;
    border: none;
    cursor: pointer;
}

.navbar-img-container{
    display: flex;
    justify-content: center;
    margin-left: 10px;
    align-items: center;
    height: 40px;
    width: 50px;
}

.navbar-icon{
    height: 30px;
}

.navbar-but-container:hover{
    background-color: #a4baeb;
    transition-duration: 300ms;
}

a{
    width: 100%;
    text-decoration: none;
}



/* Content ========================================= */

.content-container{
    display: flex;
    height: auto;
    width: 100%;
    /* margin-top: 57px; */
    /* background-color: red; */
}

.navbar-left-temp{
    width: 200px;
    min-width: 200px;
    height: auto;
    /* border: 5px solid black; */
}

.final-content-container{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 12%;
    margin-right: 12%;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    
    gap: 40px;
    min-width: 768px;
    /* border: 2px solid red   ; */
    /* background-color: yellow; */

}


/* MAIN CODE =================================================== */

    .title-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        height: auto;
        width: 100% ;
        /* border: 2px solid black; */
        /* border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25); */
    }

    .content-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        margin-left: 20px;
        /* margin-right: 20px; */

        /* border: 2px solid black; */
    }

    .page-title{
        font-size: 2.7em;
        margin-left: 0px;
        /* border: 2px solid black; */
    }



    /* Bottom Part ======================================= */

    .extra1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        height: auto;
        width: 100%;
        /* border: 2px solid black; */
    }

    .left-wing{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 40%;

        /* padding-bottom: 30px; */

        gap: 20px;
        /* border: 2px solid black; */

        /* border-radius: 15px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
        background-color: white */
    }


    .right-wing{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 55%;

        /* padding-bottom: 30px; */

        gap: 20px;
        /* border: 2px solid black; */

        /* border-radius: 15px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
        background-color: white */
    }


    /* Left Wing ================================================ */

    /* Wallet ================================================== */

    .wallet-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        text-align: left;
        margin-top: 10px;
    }

    .blue-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 55px;
        width: 100%;
        border-radius: 25px;
        background-color: #537FE7;
    }

    .blue-container img{
        height: 40px;
        margin-left: 10px;
    }

    .blue-val{
        color: white;
        font-size: 1.4em;
        text-align: right;
        height: auto;
        width: 290px;
        margin-right: 15px;
        /* border: 2px solid white; */
    }

    .wallet-container{
        margin-bottom: 40px;
    }

    /* Info Summary =================================================== */

    .info-sum-container{
        display: flex;
        flex-direction: column;
        align-items: end;
        height: 70%;
        width: 290px;
        margin-right: 15px;
        color: white;

        /* border:2px solid yellow; */
    }

    .info-sum-title{
        height: auto;
        width: 100%;
        font-size: 1em;
        text-align: right;
        /* border: 2px solid white; */
    }

    .info-sum-val{
        height: auto;
        width: 100%;
        font-size: 1.3em;
        text-align: right;
    }

    #info-sum-income{
        color: #B0FFC6;
    }

    #info-sum-expense{
        color: #FFADAD;
    }

    /* Transaction ================================================ */

    .transaction-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin-top: 30px;

        padding-bottom: 30px;

        gap: 20px;

        border-radius: 15px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
        background-color: white
    }

    .bottom-title{
        text-align: center;
        margin-left: 0px;
        margin-right: 0px;
    }


        /* Report Data ========================================= */

        /* First */

        .report-data-container{
            align-items: center;
            flex-direction: column;
            display: flex;
            gap: 10px;
            width: 100%;
            height: auto;
        }
        
        .report-data-first{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 50px;
            width: 80%;
            border-radius: 10px;
            color: white;
            background-color: #537FE7;
        }

        .report-date{
            display: flex;
            justify-content: right;
            height: 70%;
            width: 12%;
            margin-left: 10px;
            font-size: 2em;
            /* border: 2px solid white; */
        }

        .report-date-extra{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 70%;
            min-width: 65px;
            margin-left: 5px;
            margin-right: 15px;
            font-size: 2em;
            /* border: 2px solid white; */
        }

        .report-day{
            width: 100%;
            font-size: 0.5em;
        }

        .report-year{
            width: 100%;
            font-size: 0.3em;
        }

        .report-net{
            width: 47%;
            height: auto;
            text-align: right;
            margin-right: 15px;
            color: #B0FFC6;
            /* border: 2px solid white; */
        }

        .report-arrow{
            background-color: transparent;
            border: none;
            outline: none;
            cursor: pointer;
        }
        
        .red{
            color: #FFADAD;
        }

        .green{
            color: #B0FFC6;
        }
        /* .report-arrow:active .arrow{
            rotate: 90deg;
        } */



        /* second */
        .report-data-second{
            align-items: center;
            flex-direction: column;
            display: flex;
            gap: 10px;
            width: 80%;
            height: auto;
            color: white;
            padding-bottom: 15px;

            border-radius: 10px;
            background-color: #537FE7;
        }

        .report-category{
            display: flex;
            align-items: center;

            margin-top: 15px;
            height: 30px;
            width: 90%;
            /* border: 2px solid white; */
        }

        .report-category img{
            height: 30px;
            margin-right: 10px;
        }

        .category-title{
            width: 100px;
            text-align: left;
            font-size: 0.9em;
            margin-right: 4px;
            /* border: 2px solid white; */
        }

        .category-val{
            color: #B0FFC6;
            width: 50%;
            text-align: right;
            /* border: 2px solid white; */
        }

    
    
    /* Right WIng ====================================================*/

    /* ADD TRANSACTION button ======================================= */

    .but-transaction-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 50px;
        margin-top: 55px;
        /* border: 2px solid black; */
    }

    .but-transaction{
        height: 100%;
        width: 200px;

        font-family: patua one;
        font-size: 1.2em;

        outline: none;
        border: none;
        border-radius: 7px;

        color: white;
        background-color: #52B06C;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    }

    .but-transaction:hover{
        background-color: #69C482;
        transition-duration: 300ms;
    }

    .but-transaction:active{
        background-color: #52B06C;
        transition-duration: 300ms;
    }



    /* Bar Graph ================================================= */
    
    .bar-container{
        display: flex;
        flex-direction: column;
        gap: 10px;

        margin-top: 50px;
        height: 330px;
        width: 100%;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
    }

    .content-title{
        font-size: 1.7em;
        width: 90%;
        height: auto; 
        margin-top: 10px;
        margin-left: 20px;
        /* margin-right: 20px; */

        /* border: 2px solid black; */
    }

    .bar-graph{
        margin-left: 20px;
        width: 90%;
        /* width: 100px; */
    }



    /* Pie Chart ============================================= */

    .pie-container{
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
        height: 450px;
        width: 100%;

        border-radius: 15px;
        box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
        background-color: white;
    }

    .pie-chart{
        /* height: 400px; */
        width: 70%;
        margin-top: 30px;
    }



    /* Overlay ========================================================= */

.overlay-shadow-container{
    display: none;
    flex-direction: column;

    height: 100%;
    width: 100%;
    position: absolute;
    position: fixed;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5)
}

.overlay-top{
    height: 55px;
    width: 100%;
    /* background-color: red; */
    /* border-bottom: solid 3px black; */
}

.overlay-mid{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: yellow; */
}

.overlay-left{
    height: 100%;
    width: 200px;
    min-width: 200px;

    /* background-color: green; */
    opacity: 1;
}

.overlay-main{
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    justify-content: center;
    height: 100%;
    width: 100%;

    /* border: 5px solid black; */
    /* background-color: purple; */
}

.final-overlay-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 40px;
    margin-left: 12%;
    margin-right: 12%;
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    justify-content: space-between;
    
    gap: 40px;
    min-width: 768px;
    /* border: 2px solid red; */
    /* background-color: yellow; */

}

.overlay-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    padding-bottom: 20px;

    margin-top: 50px;

    gap: 10px;

    color: white;
    border-radius: 15px;
    background-color: #537FE7;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.25);
}

.overlay-title{
    height: auto;
    width: 90%;
    text-align: center;
    margin-top: 10px;

    /* border: 2px solid white; */
    font-size: 1.5em;
}

.overlay-input-container{
    display: flex;
    flex-direction: column;

    height: auto;
    width: 90%;
    gap: 5px;

    /* border: 2px solid white; */
}

.overlay-username{
    height: auto;
    width: 100%;
    text-align: left;

    font-size: 1em;
}

.overlay-input-container input{
    height: 30px;
    width: 95%;

    font-family: patua one;
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 7px;
    outline: none;
    border: 3px solid white;
    background-color: #537FE7;
}

.overlay-input-container input:focus{
    border-color: #a4baeb;
    transition-duration: 300ms;
}

.overlay-button-container{
    display: flex;
    justify-content: right;
    gap: 15px;
    width: 90%;
    height: 30px;
    margin-top: 10px;

    /* border: 2px solid white; */
}

.overlay-button-container button{
    height: 100%;
    width: 100px;
    border-radius: 25px;

    font-family: patua one;
    font-size: 1em;
    color: black;

    border: none;
    outline: none;
    cursor: pointer;
}

#overlay-but-submit{
    background-color: #B0FFC6;
}

#overlay-but-cancel{
    background-color: #FFADAD;
}

.overlay-double-container{
    display: flex;
    justify-content: space-between;

    height: auto;
    width: 90%;
    gap: 5px;

    /* border: 2px solid white; */
}

.overlay-input-container2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 47%;
    height: auto;
    /* border: 2px solid white; */
}

.overlay-input-container2 input{
    height: 30px;
    width: 89%;

    font-family: patua one;
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 7px;
    outline: none;
    border: 3px solid white;
    background-color: #537FE7;
}

.overlay-input-container2 input:focus{
    border-color: #a4baeb;
    transition-duration: 300ms;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.overlay-category-val{
    display: flex;
    align-items: center;
    height: 30px;
    width: 95%;

    font-family: patua one;
    color: white;
    font-size: 1.2em;
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 7px;
    outline: none;
    border: 3px solid white;
    background-color: #537FE7;
}

.overlay-category-but-container{
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    height: 30px;
    margin-top: 15px;

    /* border: 2px solid white; */
}

.but-category{
    height: 100%;
    width: 30%;

    cursor: pointer;
    font-family: patua one;
    font-size: 1em;
    color: white;
    background-color: #537FE7;
    border-radius: 25px;
    border: 2px solid white;
    outline: none;
}

.overlay-category-type-container{
    margin-top: 23px;
    display: flex;
    
    flex-wrap: wrap;
    height: 100px;
    width: 100%;

    /* border: 2px dashed white; */
    /* border-style: double; */
    border-radius: 10px;
}

.but-category-type{
    height: 25px;
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;

    border-radius: 10px;    
    border: 2px solid white;
    background-color: #537FE7;

    font-family: patua one;
    font-size: 0.9em;
    color: white;
    outline: none;
    cursor: pointer;
}

#but-catgeory-expense{
    background-color: white;
    color: black;
}